/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html body {
    width: 100%;
}


/* ***************** */
/* header style */
/* ***************** */


.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px 0;
}

/* wraper */
.wraper {
    max-width: 1440px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
}


/* icon logo font  */
    .icon-logo {
        font-size: 120px;
    }
    .logo-div{
        z-index: 1000;
        -webkit-box-shadow: 0px 0px 20px rgb(44, 44, 44) ;
                box-shadow: 0px 0px 20px rgb(44, 44, 44) ;
    }
    

/* need to appear after  480px*/
    .burgerbar {
        display: none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 25px;
        border-radius: 10px;
        background-color: #FFF;
        width: 100px;
        height: 50px;
    }

/* navigation and en-ka in header-right */
    .header-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -moz-column-gap: 60px;
             -webkit-column-gap: 60px;
                column-gap: 60px;
    }

/* start navigation */
    .navigation ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 2vw;
           -moz-column-gap: 2vw;
                column-gap: 2vw;
        width: 110%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
             -o-transition-duration: 0.5s;
                transition-duration: 0.5s;
        margin-left: 2vw;
    }
    .navigation li{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: white;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
             -o-transition-duration: 0.5s;
                transition-duration: 0.5s;
        border-radius: 25px;
        border-width: 0.1px;
        border-style: solid;
        border-color: rgb(211, 211, 211);
    }
    .navigation a {
        color: #191A19;
        font-family: 'Be Vietnam Pro';
        letter-spacing: 2px;
        font-size: 16px;
        padding: 15px 20px;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.4s;
             -o-transition-duration: 0.4s;
                transition-duration: 0.4s;
        border-radius: 25px;
    }
    .navigation li:hover,
    .navigation a:hover{
        background-color: rgb(0, 0, 0);
        color: white;
        border-color: #191A19;
        -webkit-box-shadow: 0px 0px 10px white;
                box-shadow: 0px 0px 10px white;
    }
    .navigation a:active{
        font-size: 14px;
    }
/* end navigation */



/* start en-ka div */
    .language {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background-color: #191A19;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 150px;
        width: 100%;
        height: 50px;
        padding: 5px;
        border-radius: 25px;
        border-width: 5px;
        border-color: #FFF;
    }
    .language a {
        width: 50%;
    }
    .active-language {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: white;
        border-radius: 25px;
    }
    .active-language p {
        color: #191A19;
        font-family: 'Rubik';
        font-weight: 600;
        letter-spacing: 1px;
        padding: 5px;
    }
    .option-language {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 25px;
    }
    .option-language p {
        color: white;
        font-family: 'BPG ExtraSquare Mtavruli';
        font-weight: 400;
        letter-spacing: 1px;
        padding: 5px;
    }

    /* controlling headers right section */
    /* this section conteines language changer and AI SUPPORT BUTTON */
    .header-language-ai{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 10px;
        max-width: 150px;
        width: 100%;
    }



    /* rught-AI div */
    /* this part is for responsive to make AI SUPPORT button tu come under language toggle */
    
    .right-AI li{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #ff9100;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
             -o-transition-duration: 0.5s;
                transition-duration: 0.5s;
        border-radius: 25px;
        border-width: 0.1px;
        border-style: solid;
        border-color: rgb(211, 211, 211);
        width: 100%;
    }
    .right-AI a{
        width: 100%;
        color: #191A19;
        font-family: 'Be Vietnam Pro';
        letter-spacing: 2px;
        font-size: 16px;
        padding: 15px 20px;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.4s;
             -o-transition-duration: 0.4s;
                transition-duration: 0.4s;
        border-radius: 25px;
        text-align: center;
    }
    .right-AI li:hover,
    .right-AI a:hover{
        background-color: rgb(0, 0, 0);
        color: white;
        border-color: #191A19;
        -webkit-box-shadow: 0px 0px 10px white;
                box-shadow: 0px 0px 10px white;
    }
    .right-AI a:active{
        font-size: 14px;
    }


/* section one  */
/* this section will have background image */
/* and there will be sign up and log in buttons to go into the system */



    .sec-one-photo{
        background-image: -webkit-gradient(linear, left top, left bottom, from(#191A19), to(transparent)), url(../images/pexels-pixabay-276583.jpg);
        background-image: -o-linear-gradient(top, #191A19, transparent), url(../images/pexels-pixabay-276583.jpg);
        background-image: linear-gradient(to bottom, #191A19, transparent), url(../images/pexels-pixabay-276583.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 1000px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .sec-one-wraper{
        max-width: 1440px;
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 5vw;
    }


    /* ------------------ */
    /* section one title */
    /* ------------------ */
    .sec-one-title{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
    }
    .sec-one-title h2{
        font-family: 'Be Vietnam Pro';
        font-size: 80px;
        font-weight: 700;
        text-align: start;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }
    .sec-one-title h3{
        font-family: 'Be Vietnam Pro';
        font-size: 80px;
        font-weight: 700;
        text-align: start;
        color: #FFF;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #191A19;
    }
    
    /* ------------------ */
    /* section one button */
    /* ------------------ */
    
    .sec-one-buttons{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .button1{
        max-width: 200px;
        width: 100%;
        height: 50px;
        border-radius: 100px;
        background-color: #191A19;
        border-color: white;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
        font-weight: 600;
        color: white;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 0.4s;
             -o-transition-duration: 0.4s;
                transition-duration: 0.4s;
        margin-right: 2vw;
    }
    .button1:hover{
        background-color: #FFF;
        color: #191A19;    
        border-color: #191A19;
    }
    .button1:active{
        font-size: 14px;
    }
    .button2{
        max-width: 200px;
        width: 100%;
        height: 50px;
        border-radius: 100px;
        background-color: white;
        color: #191A19;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
        border-width: 1px;
        border-color: #191A19;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
        font-weight: 600;
        color: #191A19;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.4s;
             -o-transition-duration: 0.4s;
                transition-duration: 0.4s;
    }
    .button2:hover{
        background-color: #191A19;
        color: #FFF;
    }
    .button2:active{
        font-size: 14px;
    }


/* section two */
/* section two is for about us information */
/* it will have whole information about the company and website */

    .sec-two{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #191A19;
        width: 100%;
        padding: 100px 0;
    }
    .sec-two-wraper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1440px;
        width: 90%;
        -webkit-column-gap: 30px;
           -moz-column-gap: 30px;
                column-gap: 30px;
    }
    .sec-two-wraper h2{
        font-family: 'Inter';
        font-size: 60px;
        font-weight: 800;
        color: #FFF;
        text-decoration: underline;
        -webkit-text-decoration-color: rgb(255, 145, 0);
                text-decoration-color: rgb(255, 145, 0);
        text-underline-offset: 40px;
    }
    .sec-two-wraper p{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        color: #FFF;
        margin-top: 100px;
        line-height: 35px;
        width: 80%;
    }
    .sec-two-title{
        width: 50%;
    }
    .sec-two-photo{
        background-image: url(../images/1_HWTn9_OU8yJbA__QrNfKYQ.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        width: 45%;
        height: 100%;
        border-radius: 20px;
    }


/* section three */
/* this section is for contact */
/* it will provide contact info email and map location */

    .sec-three{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 100px 0;
    }
    .sec-three-wraper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1440px;
        width: 90%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    /* contact info */

    .contact-info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .contact-info h2{
        font-family: 'Inter';
        font-size: 60px;
        font-weight: 800;
        color: #191A19;
        text-decoration: underline;
        -webkit-text-decoration-color: rgb(255, 145, 0);
                text-decoration-color: rgb(255, 145, 0);
        text-underline-offset: 40px;
        margin-bottom: 70px;
    }

    /* info class */
    .info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        row-gap: 20px;
    }
    .info i{
        font-size: 35px;
    }
    .info span{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        color: #191A19;

    }
    .info a{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        color: #191A19; 
    }
    .phone,
    .email,
    .location{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
    }

    /* map class */
    .map{
        width: 40%;
        height: 30vw;
    }
    .map iframe{
        width: 100%;
        height: 100%;
    }


/* section four */
/* this section is for shopping */
/* it will provide link to different page where you can shop */

    .sec-four{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 100px 0;
        outline: 3px solid #191A19;
        outline-offset: 0px;
    }
    .sec-four-wraper{
        max-width: 1440px;
        width: 90%;
    }

    /* section four title */
    .sec-four-title h2{
        font-family: 'Inter';
        font-size: 60px;
        font-weight: 800;
        color: #191A19;
        text-decoration: underline;
        -webkit-text-decoration-color: rgb(255, 145, 0);
                text-decoration-color: rgb(255, 145, 0);
        text-underline-offset: 40px;
        margin-bottom: 110px;
    }

    /* shopping class */
    .shopping{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 40px;
        width: 80%;
    }
    .shopping-wraper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .shopping a{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    /* .shopping a:active{
        padding: 10px;
    } */

    /* control rows */
    .first-row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 40px;
           -moz-column-gap: 40px;
                column-gap: 40px;
    }
    .second-row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 40px;
           -moz-column-gap: 40px;
                column-gap: 40px;
    }

    /* controlling shop class */
    .shop{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-color: rgb(209, 209, 209);
        border-style: solid;
        border-width: 5px;
        border-color: #191A19;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        height: 45vw;
    }
    .shop h3{
        font-family: 'Be Vietnam Pro';
        font-size: 40px;
        font-weight: 600;
        color: #191A19;
        margin-top: 20px;
        text-align: center;
    }
    .shop p{
        font-family: 'Be Vietnam Pro';
        font-size: 20px;
        font-weight: 400;
        color: #191A19;
        text-align: center;
    }

    /* adding photos */
    .photo1{
        background-image: url(../images/luxury-living-room-designs.jpg);
        width: 100%;
        height: 30vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px
    }
    .photo2{
        background-image: url(../images/SPR-luxury-kitchens-5211364-hero-688d716970544978bc12abdf17ce6f83.jpg);
        width: 100%;
        height: 30vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
    }
    .photo3{
        background-image: url(../images/images.jpeg);
        width: 100%;
        height: 30vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px
    }
    .photo4{
        background-image: url(../images/default_name-ezgif.com-webp-to-jpg-converter.jpg);
        width: 100%;
        height: 30vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px
    }
    

/* footer section */
/* this section is for footer */
/* it will have social media navigation */  

    .footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #191A19;
        padding: 64px 0;
    }
    .footer-wraper{
        max-width: 1440px;
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    /* left-side controll */
    .left-side{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 20px;
    }

    /* social media contro */
    .social-media{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 15px;
           -moz-column-gap: 15px;
                column-gap: 15px;
    }
    .social-media i{
        font-size: 30px;
        color: #FFF;
    }

    /* footer naviation controll */
    .navigation-wraper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
    }
    .navigation-wraper h2{
        font-family: 'Rubik';
        font-size: 25px;
        font-weight: 600;
        color: #FFF;
        text-align: center;
    }
    .navigation-wraper a{
        font-family: 'Rubik';
        font-size: 20px;
        font-weight: 400;
        color: #FFF;
        text-align: center;
    }
    .footer-navigation ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 10px;
        text-align: center;
    }

    /* copyright control */
    .copyright{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

    }
    .copyright i{
        font-size: 20px;
        color: #FFF;
    }
    .copyright p{
        font-size: 20px;
        color: #FFF;
        font-family: 'Inter';
        font-weight: 300;
    }


/* login page */
/* this page is for loging in to the site */
/* it is going through back end but it is not working gfrom now */
    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }
    
    .modal-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        max-width: 1440px;
        width: 90%;
        height: 500px;
        position: relative;
        z-index: 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px;
    }
    .modal-content form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px;
    }
    .modal-content input{
        width: 80%;
        height: 30px;
        border-radius: 15px;
        padding-left: 20px;
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
    }
    .modal-content label{
        font-family: 'Rubik';
        font-weight: 600;
        font-size: 25px;
    }
    .modal-content button{
        width: 80%;
        height: 30px;
        border: none;
        border-radius: 15px;
        background-color: #191A19;
        color: #FFF;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 20px;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover, .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .blur {
        -webkit-filter: blur(5px);
                filter: blur(5px);
    }



/* regitster page */
/* this parto of the code is for registering to the website */
/* this information gose through back end and it shoudl write to text file */
/* but in this case if you want to try it you shoudl download the file */
/* then using terminal go to  "UserFormApp" folder  with "cd User FormApp" commandd */
/* then you can run the back end with "dotnet run" command in terminal */
/* then register page will work good and every time you register it will be added to the text file with json format */
    .register-modal {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }
    
    .register-modal-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        max-width: 1440px;
        width: 90%;
        height: 600px;
        position: relative;
        z-index: 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px;
    }
    .register-modal-content form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px;
    }
    .register-modal-content input{
        width: 80%;
        height: 30px;
        border-radius: 15px;
        padding-left: 20px;
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
    }
    .register-modal-content label{
        font-family: 'Rubik';
        font-weight: 600;
        font-size: 25px;
        
    }
    .register-modal-content button{
        width: 80%;
        height: 30px;
        border: none;
        border-radius: 15px;
        background-color: #191A19;
        color: #FFF;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 20px;
    }
    .close-register {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close-register:hover, .close-register:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    



/* media sectiona */
/* this section of the css code is for adjusting for differante devices */
/* i am gona use max-width */
/* for now i am gonna start from 10240px for tablet devices*/
/* in this case there is minimal adjustments */
/* for now we just need photo adjustement in section two */

@media (max-width: 1024px){
    .sec-two-photo{
        height: 100%;
        width: 45%;
        background-position: -3cm;
    }
    .sec-two-title{
        width: 50%;
    }
    .info{
        row-gap: 50px;
    }

    /* to look better i am changing headers navigation buttons padding */
    /* with this we can go down to 930px width */
    .navigation a{
        padding: 10px 15px;
        font-size: 14px;
    }
}

/* next media */
/* next media will be 870px */
/* because the titles of the sections are getting wierd i will lower there fotn size */
@media (max-width: 870px){
    /* changing section two title */
    .sec-two-title h2{
        font-size: 50px;
    }
    .sec-two-title p{
        font-size: 16px;
        line-height: 25px;
    }
    /* changing section four title */
    .sec-four-title h2{
        font-size: 50px;
    }
    /* changing section three title */
    /* also i will drop down the number mail and address */
    .sec-three-wraper h2{
        font-size: 50px;
        text-underline-offset: 50px;
    }
    .phone,
    .email,
    .location{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        row-gap: 15px;
    }
}



/* next media */
/* this section is for media under 830px  */
/* because of shopping part of the website is getting wierd */
/* this is because of names thats why under 830px it will be all vertical */
@media (max-width: 830px){
    /* go to column section two */
    .sec-two-wraper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 70px;
    }
    .sec-two-title{
        width: 100%;
    }
    .sec-two-title h2{
        width: 100%;
        text-align: center;
    }
    .sec-two-title p{
        width: 100%;
        text-align: center;
    }
    .sec-two-photo{
        width: 100%;
        height: 600px;
    }

    /* section-four changes */
    .sec-four-title{
        text-align: center;
    }
    .first-row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 40px;
    }
    .second-row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 40px;
    }
    .shop{
        height: 700px;
    }
    .photo1,
    .photo2,
    .photo3,
    .photo4{
        height: 100%;
    }

    /* section three changes */
    .sec-three-wraper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-column-gap: 50px;
           -moz-column-gap: 50px;
                column-gap: 50px;
        row-gap: 50px;
    }
    .contact-info h2{
        margin-bottom: 110px;
        width: 100%;
        text-align: center;
    }
    .icon{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .info a{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .map{
        width: 100%;
        height: 90vw;
    }
    .icon-logo{
        font-size: 80px;
    }
}

/* next media */
/* this media is for under 720px */
/* in this section i am adding burgerbar to the header */
/* by that i will prevent overflow of the header */
@media (max-width: 720px){
    .navigation {
        display: none;
    }

    .burgerbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
    }

    .header-right .navigation.active {
        display: block;
        position: absolute;
        background: #fff;
        top: 70%;
        right: 24%;
        width: 50%;
        -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px 30px 20px 20px;
        border-radius: 25px;
    }

    .header-right .navigation ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .header-right .navigation ul li {
        margin: 0;
        border-bottom: 1px solid #ccc;
    }

    .header-right .navigation ul li a {
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
    }

    .header-right .navigation ul li a:hover {
        background: #f4f4f4;
    }

    .header-right{
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
    }
    /* also changing footer */
    .footer-wraper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 80px;
    }
}


/* next media */
/* next media is 600px */
/* looks like section four components are realy ugly for now so i will change it */
@media (max-width: 600px){
    .shop{
        height: 100vw;
    }
    .sec-two-photo{
        background-position: center;
    }
}


/* last part of media */
/* in this i will change section one title which is too big */
@media (max-width: 500px){
    .sec-one-title h2{
        text-align: center;
        font-size: 50px;
    }
    .sec-one-title h3{
        text-align: center;
        font-size: 50px;
    }
    .sec-one-buttons{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

    }
    .button1,
    .button2{
        width: 80%;
    }
    .button1{
        margin-right: 0;
    }

    .sec-two-photo{
        height: 90vw;
    }
}





.body{
    width: 100%;
    height: 100%;
    background-color: #ff9100;
    display: flex;
    justify-content: center;
}
.sections{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #ff9100;
}
.sections h1{
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    font-family: 'Be Vietnam Pro';
}
.sections h2{
    width: 50%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Be Vietnam Pro';
}