html body {
    width: 100%;
}


/* ***************** */
/* header style */
/* ***************** */


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px 0;
}

/* wraper */
.wraper {
    max-width: 1440px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


/* icon logo font  */
    .icon-logo {
        font-size: 120px;
    }
    .logo-div{
        z-index: 1000;
        box-shadow: 0px 0px 20px rgb(44, 44, 44) ;
    }
    

/* need to appear after  480px*/
    .burgerbar {
        display: none;
    }

/* navigation and en-ka in header-right */
    .header-right {
        display: flex;
        align-items: center;
        -moz-column-gap: 60px;
             column-gap: 60px;
    }

/* start navigation */
    .navigation ul {
        display: flex;
        -moz-column-gap: 30px;
             column-gap: 30px;
        width: 110%;
        align-items: center;
        transition-property: all;
        transition-duration: 0.5s;
    }
    .navigation li{
        display: flex;
        align-items: center;
        background-color: white;
        transition-property: all;
        transition-duration: 0.5s;
        border-radius: 25px;
        /* box-shadow: 10px 10px 10px rgb(170, 170, 170); */
        border-width: 0.1px;
        border-style: double;
        border-color: rgb(211, 211, 211);
    }
    .navigation a {
        color: #191A19;
        font-family: 'Be Vietnam Pro';
        letter-spacing: 2px;
        font-size: 16px;
        padding: 15px 20px;
        transition-property: all;
        transition-duration: 0.4s;
        border-radius: 25px;
    }
    .navigation li:hover,
    .navigation a:hover{
        background-color: rgb(0, 0, 0);
        color: white;
        border-color: #191A19;
        box-shadow: 0px 0px 10px white;
    }
    .navigation a:active{
        font-size: 14px;
    }
/* end navigation */



/* start en-ka div */
    .language {
        display: flex;
        justify-content: space-between;
        background-color: #191A19;
        flex-wrap: wrap;
        width: 150px;
        height: 50px;
        padding: 5px;
        border-radius: 25px;
        border-width: 5px;
        border-color: #FFF;
    }
    .language a {
        width: 50%;
    }
    .active-language {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    }
    .active-language p {
        color: #191A19;
        font-family: 'Rubik';
        font-weight: 600;
        letter-spacing: 1px;
    }
    .option-language {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }
    .option-language p {
        color: white;
        font-family: 'BPG ExtraSquare Mtavruli';
        font-weight: 400;
        letter-spacing: 1px;
    }
/* end en-ka div */



/* section one  */
/* this section will have background image */
/* and there will be sign up and log in buttons to go into the system */



    .sec-one-photo{
        background-image: linear-gradient(to bottom, #191A19, transparent), url(../images/pexels-pixabay-276583.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec-one-wraper{
        max-width: 1440px;
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 5vw;
    }


    /* ------------------ */
    /* section one title */
    /* ------------------ */
    .sec-one-title{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .sec-one-title h2{
        font-family: 'Be Vietnam Pro';
        font-size: 80px;
        font-weight: 700;
        text-align: start;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }
    .sec-one-title h3{
        font-family: 'Be Vietnam Pro';
        font-size: 80px;
        font-weight: 700;
        text-align: start;
        color: #FFF;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #191A19;
    }
    
    /* ------------------ */
    /* section one button */
    /* ------------------ */
    
    .sec-one-buttons{
        display: flex;
    }
    .button1{
        max-width: 200px;
        width: 100%;
        height: 50px;
        border-radius: 100px;
        background-color: #191A19;
        border-color: white;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
        font-weight: 600;
        color: white;
        transition: all;
        transition-duration: 0.4s;
        margin-right: 2vw;
    }
    .button1:hover{
        background-color: #FFF;
        color: #191A19;    
        border-color: #191A19;
    }
    .button1:active{
        font-size: 14px;
    }
    .button2{
        max-width: 200px;
        width: 100%;
        height: 50px;
        border-radius: 100px;
        background-color: white;
        color: #191A19;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
        border-width: 1px;
        border-color: #191A19;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Be Vietnam Pro';
        font-weight: 600;
        color: #191A19;
        transition-property: all;
        transition-duration: 0.4s;
    }
    .button2:hover{
        background-color: #191A19;
        color: #FFF;
    }
    .button2:active{
        font-size: 14px;
    }


/* section two */
/* section two is for about us information */
/* it will have whole information about the company and website */

    .sec-two{
        display: flex;
        justify-content: center;
        background-color: #191A19;
        width: 100%;
        padding: 100px 0;
    }
    .sec-two-wraper{
        display: flex;
        max-width: 1440px;
        width: 90%;
        column-gap: 30px;
    }
    .sec-two-wraper h2{
        font-family: 'Inter';
        font-size: 60px;
        font-weight: 800;
        color: #FFF;
        text-decoration: underline;
        text-decoration-color: rgb(255, 145, 0);
        text-underline-offset: 40px;
    }
    .sec-two-wraper p{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        color: #FFF;
        margin-top: 100px;
        line-height: 35px;
        width: 80%;
    }
    .sec-two-photo{
        background-image: url(../images/1_HWTn9_OU8yJbA__QrNfKYQ.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        width: 2000px;
        height: 30vw;
        border-radius: 20px;
    }


/* section three */
/* this section is for contact */
/* it will provide contact info email and map location */

    .sec-three{
        display: flex;
        justify-content: center;
        padding: 100px 0;
    }
    .sec-three-wraper{
        display: flex;
        max-width: 1440px;
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }

    /* contact info */

    .contact-info{
        display: flex;
        flex-direction: column;
    }
    .contact-info h2{
        font-family: 'Inter';
        font-size: 60px;
        font-weight: 800;
        color: #191A19;
        text-decoration: underline;
        text-decoration-color: rgb(255, 145, 0);
        text-underline-offset: 40px;
        margin-bottom: 70px;
    }

    /* info class */
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
    }
    .info i{
        font-size: 35px;
    }
    .info span{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        color: #191A19;

    }
    .info a{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        color: #191A19; 
    }
    .phone,
    .email,
    .location{
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    /* map class */
    .map{
        width: 40%;
        height: 30vw;
    }
    .map iframe{
        width: 100%;
        height: 100%;
    }


/* section four */
/* this section is for shopping */
/* it will provide link to different page where you can shop */

    .sec-four{
        display: flex;
        justify-content: center;
        padding: 100px 0;
        outline: 3px solid #191A19;
        outline-offset: 0px;
    }
    .sec-four-wraper{
        max-width: 1440px;
        width: 90%;

    }

    /* section four title */
    .sec-four-title h2{
        font-family: 'Inter';
        font-size: 60px;
        font-weight: 800;
        color: #191A19;
        text-decoration: underline;
        text-decoration-color: rgb(255, 145, 0);
        text-underline-offset: 40px;
        margin-bottom: 110px;
    }

    /* shopping class */
    .shopping{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        width: 80%;
    }
    .shopping-wraper{
        display: flex;
        justify-content: center;
    }
    .shopping a{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* .shopping a:active{
        padding: 10px;
    } */

    /* control rows */
    .first-row{
        display: flex;
        column-gap: 40px;
    }
    .second-row{
        display: flex;
        column-gap: 40px;
    }

    /* controlling shop class */
    .shop{
        display: flex;
        flex-direction: column;
        background-color: rgb(209, 209, 209);
        border-style: solid;
        border-width: 5px;
        border-color: #191A19;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        transition: all 0.1s;
        height: 45vw;
    }
    .shop h3{
        font-family: 'Be Vietnam Pro';
        font-size: 40px;
        font-weight: 600;
        color: #191A19;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
    }
    .shop p{
        font-family: 'Be Vietnam Pro';
        font-size: 20px;
        font-weight: 400;
        color: #191A19;
        text-align: center;
    }

    /* adding photos */
    .photo1{
        background-image: url(../images/luxury-living-room-designs.jpg);
        width: 100%;
        height: 30vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px
    }
    .photo2{
        background-image: url(../images/SPR-luxury-kitchens-5211364-hero-688d716970544978bc12abdf17ce6f83.jpg);
        width: 100%;
        height: 30vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
    }
    .photo3{
        background-image: url(../images/images.jpeg);
        width: 100%;
        height: 30vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px
    }
    .photo4{
        background-image: url(../images/default_name-ezgif.com-webp-to-jpg-converter.jpg);
        width: 100%;
        height: 30vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px
    }
    

/* footer section */
/* this section is for footer */
/* it will have social media navigation */  

    .footer{
        display: flex;
        justify-content: center;
        background-color: #191A19;
        padding: 64px 0;
    }
    .footer-wraper{
        max-width: 1440px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* left-side controll */
    .left-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    /* social media contro */
    .social-media{
        display: flex;
        column-gap: 15px;
    }
    .social-media i{
        font-size: 30px;
        color: #FFF;
    }

    /* footer naviation controll */
    .navigation-wraper{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .navigation-wraper h2{
        font-family: 'Rubik';
        font-size: 25px;
        font-weight: 600;
        color: #FFF;
        text-align: center;
    }
    .navigation-wraper a{
        font-family: 'Rubik';
        font-size: 20px;
        font-weight: 400;
        color: #FFF;
        text-align: center;
    }
    .footer-navigation ul{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        text-align: center;
    }

    /* copyright control */
    .copyright{
        display: flex;

    }
    .copyright i{
        font-size: 20px;
        color: #FFF;
    }
    .copyright p{
        font-size: 20px;
        color: #FFF;
        font-family: 'Inter';
        font-weight: 300;
    }


/* login page */
/* this page is for loging in to the site */
/* it is going through back end but it is not working gfrom now */
    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }
    
    .modal-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 500px;
        height: 500px;
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .modal-content form{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px;
    }
    .modal-content input{
        width: 80%;
        height: 30px;
        border-radius: 15px;
        padding-left: 20px;
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
    }
    .modal-content label{
        font-family: 'Rubik';
        font-weight: 600;
        font-size: 25px;
    }
    .modal-content button{
        width: 80%;
        height: 30px;
        border: none;
        border-radius: 15px;
        background-color: #191A19;
        color: #FFF;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 20px;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover, .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .blur {
        filter: blur(5px);
    }



/* regitster page */
/* this parto of the code is for registering to the website */
/* this information gose through back end and it shoudl write to text file */
/* but in this case if you want to try it you shoudl download the file */
/* then using terminal go to  "UserFormApp" folder  with "cd User FormApp" commandd */
/* then you can run the back end with "dotnet run" command in terminal */
/* then register page will work good and every time you register it will be added to the text file with json format */
    .register-modal {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }
    
    .register-modal-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 500px;
        height: 600px;
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .register-modal-content form{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px;
    }
    .register-modal-content input{
        width: 80%;
        height: 30px;
        border-radius: 15px;
        padding-left: 20px;
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
    }
    .register-modal-content label{
        font-family: 'Rubik';
        font-weight: 600;
        font-size: 25px;
        
    }
    .register-modal-content button{
        width: 80%;
        height: 30px;
        border: none;
        border-radius: 15px;
        background-color: #191A19;
        color: #FFF;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 20px;
    }
    .close-register {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close-register:hover, .close-register:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    