html body {
    width: 100%;
}

main {
    padding-top: 160px;
}


/* ***************** */
/* header style */
/* ***************** */


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

/* wraper */
.wraper {
    max-width: 1440px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


/* icon logo font  */
    .icon-logo {
        font-size: 120px;
    }
    .logo-div{
        z-index: 1000;
        box-shadow: 0px 0px 20px rgb(44, 44, 44) ;
    }
    

/* need to appear after  480px*/
    .burgerbar {
        display: none;
    }

/* navigation and en-ka in header-right */
    .header-right {
        display: flex;
        align-items: center;
        -moz-column-gap: 60px;
             column-gap: 60px;
    }

/* start navigation */
    .navigation ul {
        display: flex;
        -moz-column-gap: 30px;
             column-gap: 30px;
        width: 110%;
        align-items: center;
        transition-property: all;
        transition-duration: 0.5s;
    }
    .navigation li{
        display: flex;
        align-items: center;
        background-color: white;
        transition-property: all;
        transition-duration: 0.5s;
        border-radius: 25px;
        box-shadow: 10px 10px 10px rgb(170, 170, 170);
        border-width: 0.1px;
        border-style: double;
        border-color: rgb(211, 211, 211);
    }
    .navigation a {
        color: black;
        font-family: 'Be Vietnam Pro';
        letter-spacing: 2px;
        font-size: 16px;
        padding: 15px 20px;
        transition-property: all;
        transition-duration: 0.4s;
        border-radius: 25px;
    }
    .navigation li:hover,
    .navigation a:hover{
        background-color: rgb(0, 0, 0);
        color: white;
        border-color: black;
    }
/* end navigation */



/* start en-ka div */
    .language {
        display: flex;
        justify-content: space-between;
        background-color: black;
        flex-wrap: wrap;
        width: 150px;
        height: 50px;
        padding: 5px;
        border-radius: 25px;
    }
    .language a {
        width: 50%;
    }
    .active-language {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 25px;
    }
    .active-language p {
        color: black;
        font-family: 'Rubik';
        font-weight: 600;
        letter-spacing: 1px;
    }
    .option-language {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }
    .option-language p {
        color: white;
        font-family: 'BPG ExtraSquare Mtavruli';
        font-weight: 400;
        letter-spacing: 1px;
    }
/* end en-ka div */